@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* developer styles */
#developer {
  height: 613px;
  background-image: url("../assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 24px 208px 41px 208px;
}
.developer-img {
  text-align: center;
}
.developer-container h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 45px;
  font-weight: 800;
  line-height: 64px;
  text-align: center;
}
.developer-container p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  margin: 22px 68px 0px 68px;
}
.developer-btn {
  text-align: center;
  margin: 30px 354px 0px 353px;
}
.developer-btn button {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  padding: 20px 22px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  cursor: pointer;
  border: none;
  outline: none;
}

/* webdev styles */
#webdev {
  width: 1071px;
  height: 1311px;
  margin: 69px auto 0px;
  border-radius: 15px;
  background: rgba(13, 19, 33, 0.02);
}
.webdev-section {
  padding: 75px 91px;
}
.webdev-head {
  text-align: center;
  width: 800px;
  height: 108px;
  margin: 0px 44px;
}
.webdev-head h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 30px;
  font-weight: 800;
  line-height: 35px;
  text-align: center;
}
.webdev-head p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  opacity: 0.7;
  margin-top: 22px;
}

.webdev-box {
  border-radius: 15px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  padding: 45px;
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}
.webdev-box-1-content h2 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
  margin-right: 82px;
}
.webdev-box-1-content {
  width: 448px;
  height: 220px;
}
.webdev-box-1-content p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin: 15px 8px 0px 0px;
}
.webdev-box-1-img {
  margin: 3px 13px 18px 94px;
}
.webdev-box-1-content button {
  padding: 11px 19px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 19px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  margin: 30px 284px 0px 0px;
}
.webdev-box-2-img {
  margin: 0px 46px 29px 0px;
  margin-bottom: 29px;
  margin-right: 46px;
}
.webdev-box-2-content {
  margin: 10px 95px 9px 0px;
}
.webdev-box-2-content h2 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
}
.webdev-box-2-content p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.7;
  text-align: left;
  margin: 15px 8px 0px 0px;
}
.webdev-box-2-content button {
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  padding: 11px 19px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 19px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  margin: 30px 284px 0px 0px;
}
.webdev-box-3-img {
  margin: 25px 16px 25px 141px;
}

/* inspiration styles */
#inspiration {
  width: 1071px;
  height: 730px;
  margin: 83px auto 0px;
}
.inspiration-content {
  width: 800px;
  text-align: center;
  margin: 0px 135px 0px 135px;
}
.inspiration-content h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 30px;
  font-weight: 800;
  line-height: 35px;
  text-align: center;
}
.inspiration-content p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  opacity: 0.7;
  margin-top: 22px;
}
.inspiration-video {
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  padding: 30px;
  margin-top: 45px;
}
.inspiration-video iframe {
  border-radius: 16px;
}

/* target styles */
#target {
  width: 1071px;
  height: 435px;
  margin: 140px auto 0px;
}
.target-container {
  width: 1071px;
  display: flex;
  gap: 22px;
  justify-content: center;
  margin: 45px auto 0px;
}
.target-item {
  padding: 37px;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  width: 267px;
  height: 207px;
}
.target-item h2 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 22px;
  font-weight: 800;
  line-height: 34px;
  text-align: left;
  margin-top: 22px;
}
.target-item p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  opacity: 0.7;
  margin-top: 7px;
}
.target-item a {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  text-decoration-line: underline;
}
.target-css {
  background: rgba(0, 76, 232, 0.05);
}
.target-javascript {
  background: rgba(255, 223, 0, 0.05);
}

/* next styles */
#next {
  width: 1071px;
  height: 816px;
  margin: 104px auto 0px;
}
.next-container {
  width: 1071px;
  margin-top: 45px;
}
.next-item {
  width: 996px;
  height: 130px;
  padding: 37px;
  display: flex;
  gap: 22px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
}
.next-item-img {
  margin: 25px 0px;
}
.next-item-content h2 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 22px;
  font-weight: 800;
  line-height: 34px;
  text-align: left;
}
.next-item-content p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  opacity: 0.7;
  margin-top: 7px;
}
.next-item-content a {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  text-decoration-line: underline;
}
.next-node {
  margin-top: 22px;
}
.next-node-img {
  margin: 24px 0px;
}
.next-node-content {
  width: 834px;
}
.next-mongo {
  margin-top: 22px;
  border: 1px solid rgba(13, 19, 33, 0.15);
}
.next-mongo-img {
  margin: 14px 0px;
}
